.sections {
  @include flex-box($direction: column, $align: center, $gap: 2rem);
  padding: 2rem 1.2rem;

  @include media-query(xl) {
    padding: 2rem 3rem;
  }
}

.section {
  background: $white;
  color: $black;
  padding: 1.3rem;
  border-radius: 0.5rem;
  max-width: map-get($map: $media, $key: 2xl);
  width: 100%;
  line-height: 1.5;
  // font-size: 1.2rem;

  ul {
    list-style: none;
  }

  &__title,
  &__subtitle {
    text-align: center;
    margin: 0;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: $light-blue;

    &--opacity {
      opacity: 0.4;
    }
  }
  &__subtitle {
    font-size: 1.7rem;
    font-weight: 600;

    @include media-query(xl) {
      font-size: 2rem;
    }
  }

  &__content {
    text-align: justify;
  }

  &--blue {
    color: $white;
    background-color: $light-blue;

    h3,
    h4 {
      color: $white;
    }
  }

  &--dark {
    color: #bbbbbb;
    background-color: #292929;

    h3,
    h4 {
      color: $white;
    }
  }

  &__img {
    max-width: 50%;

    @include media-query(xl) {
      max-width: 100%;
    }
  }

  @include media-query(sm) {
    padding: 2rem 4rem;
  }

  @include media-query(md) {
    padding: 2rem 5rem;
  }

  &--no-padding {
    padding: 0;
  }

  &--transparent {
    background-color: transparent;
    color: $white;
  }

  &--dark-blue {
    background-color: $dark-blue;
    color: $white;
  }

  &--orange {
    background-color: $orange;
    color: $white;
  }

  &--test-hight {
    height: 200px;
    @include flex-box;

    @include media-query(md) {
      height: 300px;
    }

    @include media-query(l) {
      height: 400pc;
    }
  }
}
