.contact-options {
  @include flex-box($align: flex-start, $gap: 2rem);
  text-align: center;

  &__emails {
    @include flex-box($direction: column);
  }

  a {
    color: $light-blue;
  }
}

.links-sections {
  @include flex-box($gap: 1rem);
}

.links::before {
  font-size: 2rem;
}
