.section__list-section {
  @include flex-box($direction: column);
  @include media-query(lg) {
    flex-direction: row;
  }
}

.list {
  @include flex-box($direction: column, $gap: 2rem, $align: space-between);
  margin: 0;
  padding: 0;
  margin-top: 2rem;

  &:first-of-type {
    @include media-query(lg) {
      margin-right: 5rem;
    }
  }

  @include media-query(lg) {
    margin-top: 0rem;
  }
}
