.information-options {
  h3,
  p {
    margin: 0;
    text-align: center;
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;

    margin-top: 1rem;
  }

  &__emails {
    @include flex-box($direction: column, $gap: 0.5rem, $align: start);
  }
}
